
.form-field {
    width: 50%;
  }
  
  .forgot-password {
    margin-left: 10px;
  }

.btn-outline-secondary:hover {
    color: blue !important; /* Change the color on hover */
}
.btn-danger {
    font-size: 20px; /* Adjust the font size DeputyVetSearchedProfile Record death info button*/
}
.square-button {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Make height equal to width to create a square button */
}

/* Footer styles */
/* Resetting default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
}

/* Styles for the main container */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles for the content area */
.content {
    flex: 1;
}

/* Footer styles */
.footer {
    background-color: #032446;
    color: #f2f1f3;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    /* margin-inline-start: 25px; */
    /* padding-top: 0 ; */
    /* margin-bottom: px; */
    margin-top: 25px;
}

/* Adjustments for the logout button */
.logout-text {
    color: rgb(241, 233, 233);
    font-weight: bold;
}
.custom-delete-btn-handlerCredentialTable{
    font-size: 1rem; /* Match the font size with the Edit button */
    padding: 0.375rem 0.75rem; /* Match the padding with the Edit button */
}
.custom-edit-btn-handlerCredentialTable{
    font-size: 1rem; /* Match the font size with the Delete button */
    padding: 0.375rem 0.75rem; /* Match the padding with the Delete button */
}

.daily-report-btn{
    width: 60%;
    height: 60px;
    
}

.details{
    /* padding-bottom: 25px; */
    /* background-color: red; */
    margin-bottom: 35px;
    /* margin-left: 25px; */
    padding-bottom: 25px;
}

.formRow{
    margin-bottom: 35px;
    /* margin-left: 25px; */
    padding-bottom: 25px;   
}

.custom-clear-btn-directorRegister{
    margin-left: 400px;
   
}
